.wp-block-vibrant-life-columns {
	
	$list: $breakpoint-classes;
		
	@each $name in $list {

		@include breakpoint( #{$name} only ) {

			&.#{$name}-up-1 {
				
				& > .column {
				
					padding-left: 0;
					padding-right: 0;
					
				}
				
			}

		}

	}

	& > .column {
		
		// Handle not full-width variants
		&:first-of-type {
			padding-left: 0;
		}

		&:last-of-type {
			padding-right: 0;
		}
		
	}
	
}