@charset 'utf-8';

// Used by FoundationPress' Navigation CSS
$dark-nav-color: #2C3840;

$light-color: #fff;
$dark-color: #222;

@import url('//fonts.googleapis.com/css?family=Nunito:400,800');

@import 'settings'; // Copied from FoundationPress. Added !default to any variables we're overriding

@import "settings-overrides";

@include add-foundation-colors();

@import 'foundation';
@import 'motion-ui';

// Foundation
// Here we control all of the various foundation components to use
@include foundation-global-styles;

@include foundation-visibility-classes;
@include foundation-grid;
@include foundation-accordion;
//@import "../vendor/sass/foundation/components/block-grid";
@include foundation-button;
@include foundation-typography;
@include foundation-forms;
@include foundation-table;
@include foundation-close-button;
@include foundation-off-canvas;
@include foundation-top-bar;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-sticky;
@include foundation-reveal;

@include motion-ui-transitions;
@include motion-ui-animations;

@import "functions";
@import "mixins";

// Global
@import "global/accessibility";
@import "global/colors";
@import "global/wp-admin";
@import "global/wp-overrides";
@import "global/base";

// Modules
@import "modules/navigation";
@import "modules/top-bar-extra";
@import "modules/off-canvas";
@import "modules/content";
@import "modules/footer";
@import "modules/editor-style";
@import "modules/comments";
@import "modules/sidebar";

// Components
@import "components/buttons";
@import "components/cards";
@import "components/featured-image";
@import "components/dividers";
@import "components/links";
@import "components/grid";
@import "components/accordion";
@import "components/masks";
@import "components/video-popover";
@import "components/search-overlay";
@import "components/interstitial";
@import "components/related-posts";

@import "templates/page";
@import "templates/single";
@import "templates/404";
@import "templates/front";
@import "templates/about-us";
@import "templates/contact-us";
@import "templates/single-facility";
@import "templates/full-width-interstitial";

@import "vendor/ap-mega-menu";
@import "vendor/asl-store-locator";
@import "vendor/gravity-forms";

@import 'fonts/remachine-script';