section {

	margin-bottom: 3rem;

}

div.image {
	@include image-box-shadow();
}

// https://bavotasan.com/2011/adding-inset-shadow-to-image-css3/
div.image.with-image-tag {
	
	box-shadow: none;
	position: relative;
	
	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		@include image-box-shadow();
	}
	
	img {
		width: 100%;
		height: auto;
	}
	
	padding: 0;
	
	p {
		margin: 0;
	}
	
	br {
		display: none;
	}
	
}

html {
	
	@include breakpoint( fourk ) {
		
		font-size: $global-font-size * 1.6;
		
	}
	
}

body {
	
	@include breakpoint( small only ) {
	
		padding: 0;
		padding-top: env(safe-area-inset-top);
		padding-right: env(safe-area-inset-right);
		padding-bottom: env(safe-area-inset-bottom);
		padding-left: env(safe-area-inset-left);
		
	}
	
}

@each $size, $headers in $header-styles  {
	
	@include breakpoint( $size ) {
		
		@each $header, $styles in $headers {
			
			#{$header} {
				
				@if map-has-key( $styles, font-weight ) {
					font-weight: map-get( $styles, 'font-weight' );
				}
				
			}
			
		}
		
	}
	
}

@each $size, $headers in $subheader-styles  {
	
	@include breakpoint( $size ) {
		
		@each $header, $styles in $headers {
			
			#{$header}.subheader {
				
				@each $property, $value in $styles {
					
					#{$property}: $value;
					
				}
				
			}
			
		}
		
	}
	
}

h1.subheader {
	color: $quinary-color;
}

.swirl-border {
	
	background-image: url( '../images/swirl.png' );
	background-repeat: repeat;
	
	@include image-box-shadow();
	
	@include breakpoint( small only ) {
		
		margin-top: -5rem;
		
	}
	
	@include breakpoint( teneighty ) {
		
		margin-top: -3rem;
		
	}
	
	@include breakpoint( fourk ) {
		
		margin-top: -4rem;
		
	}
	
}