section {

	margin-bottom: 3rem;
	
	&:last-of-type {
		margin-bottom: 0;
	}

}

div.image {
	@include image-box-shadow();
}

// https://bavotasan.com/2011/adding-inset-shadow-to-image-css3/
div.image.with-image-tag {
	
	box-shadow: none;
	position: relative;
	
	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		@include image-box-shadow();
	}
	
	img {
		width: 100%;
		height: auto;
	}
	
}

body {
	
	@include breakpoint( small only ) {
	
		padding: 0;
		padding-top: env(safe-area-inset-top);
		padding-right: env(safe-area-inset-right);
		padding-bottom: env(safe-area-inset-bottom);
		padding-left: env(safe-area-inset-left);
		
	}
	
}

@each $size, $headers in $header-styles  {
	
	@include breakpoint( $size ) {
		
		@each $header, $styles in $headers {
			
			#{$header} {
				
				@if map-has-key( $styles, font-weight ) {
					font-weight: map-get( $styles, 'font-weight' );
				}
				
			}
			
		}
		
	}
	
}

.swirl-border {
	
	background-image: url( '../images/swirl.png' );
	background-repeat: repeat;
	
	@include image-box-shadow();
	
}