.button {
	
	font-family: $header-font-family;
	font-weight: 800;

  @each $name, $color in $foundation-palette {

    &.#{$name} {

      border-width: 0.25em;
      border-color: $color;
	  border-radius: 0.25rem;

      @include foundation-button-fix( $color );

      &:hover, &:focus {

        background: #fff;
        color: $color;
        border-width: 0.25em;

      }

    }

    &.hollow.#{$name} {

      color: $color;
      border-width: 0.25em;

      &:hover, &:focus {

        background-color: $color;
        border-color: $color;
        @include light-or-dark-text( $color );

      }

    }

  }
	
	&.white {
		
		border-color: $tertiary-color;
		
		&:hover, &:focus {

			background: $tertiary-color;
			@include light-or-dark-text( $tertiary-color );

		}
		
	}

}

.give-btn, .woocommerce a.button, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button, .woocommerce input.button.alt, input[type="submit"], #site-content .tribe-events-button, #site-content #tribe-events .tribe-events-button, .tribe_community_edit #site-content .tribe-button, .tribe_community_list #site-content .tribe-button {

  @extend .secondary.button;

}