.cards-container {

  @include xy-grid;

  .card {
    @include breakpoint(small) {
      @include xy-cell(12);

      .card-content {
        padding: 1rem;
      }

    }

    @include breakpoint(medium) {
      @include xy-cell(1 of 3, true, 0.7rem );

    }

  }
}

.card {
	
	background-color: $primary-color;
	
	img {
		width: 100%;
		height: auto;
	}
	
	&, h1, h2, h3, h4, h5, h6 {
		
		@include light-or-dark-text( $primary-color );
		
	}
	
	.card-content {
		
		padding: 2rem;
		
		.button {
			margin-bottom: 0;
		}
		
	}
	
}