.featured-hero {
	
	.page-title {
		color: #fff;
	}

	position: relative;
	margin-bottom: 0;

	@include breakpoint( small only ) {
		height: 75vh;
	}

	@include breakpoint( medium ) {
		height: 80vh;
	}
	
	@include breakpoint( fourk ) {
		height: 90vh;
	}

	width: auto;

	.image {
		
		position: absolute;
		background-size: cover;
		background-position: 50% 0%;
		background-repeat: no-repeat;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		padding: 0;
		
		@include breakpoint( small only ) {
			clip-path: url(#half-circle-bottom);
		}

		@include breakpoint( medium ) {
			clip-path: url(#hero-clip);
		}
		
		@include image-box-shadow();
		
		.color-overlay {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: rgba( 0, 0, 0, 0.20 );
			//@include create-gradient( 'vertical', $primary-color, transparent );
		}

	}

}

.title-hero {

	.marketing {

		height: 100%;

		@include breakpoint(medium) {
			//margin-top: rem-calc(-300%);
		}

		& > * {
			position: relative;
		}

		.tagline {

			top: 10%;
			transform: translateY(-10%);

			* {
				text-shadow: 4px 4px 6px rgba(0,0,0,0.50);
			}

		}

		@include breakpoint(small only) {

			.tagline {
				margin-top: 2rem;
			}

		}

	}

	.image {
		position: absolute;

		@include breakpoint( small only ) {
			clip-path: url(#hero-clip-mobile);
		}

		@include breakpoint( medium ) {
			clip-path: url(#hero-clip);
		}

		//background-position: 50% 80%;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;

		@include breakpoint(medium) {
			//background-position: 50% 0%;
		}

	}
	
	.color-overlay {
		
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgba( 0, 0, 0, 0.20 );
		//@include create-gradient( 'vertical', $primary-color, transparent );
		
		@include breakpoint( small only ) {
			clip-path: url(#hero-clip-mobile);
		}

		@include breakpoint( medium ) {
			clip-path: url(#hero-clip);
		}
		
	}

}

.featured-hero, .title-hero {
	
	.flourishes {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}
	
	.flourish {
		
		position: relative;
		height: 75%;
		width: auto;
		
		top: 25%;
		
		svg {
			
			height: 100%;
			width: auto;
		
			position: absolute;
			bottom: 0;
			top: 1rem;
			right: auto;
			left: auto;
			
			path {
				fill: #D8D8D8;
				opacity: 0.217466518; // Oddly specific
			}
			
		}
		
		&.flourish-left {
			
			svg {
				
				transform: scaleX( -1 );
				left: 1rem;
				
			}
			
		}
		
		&.flourish-right {
			
			svg {
				
				right: 1rem;
				
			}
			
		}
		
	}
	
}