body.has-post-thumbnail {
	
	.interstitial {
		
		margin-top: -4rem;
		
		@include breakpoint( medium ) {
		
			margin-top: -7vh;
			
		}
		
	}
	
}

.main-wrap .main-content {
	.interstitial {
		@include breakpoint( small only ) {
			
			$gutter-type: 'margin';
			$gutters: $grid-margin-gutters;
			$gutter-position: right left;
			$operator: '';
			
			// Output our margin gutters.
			  @if (type-of($gutters) == 'map') {
				  
				  $gutter: rem-calc( map-get( $gutters, 'small' ) ) / 2;

				  // Loop through each gutter position
				  @each $value in $gutter-position {
					  #{$gutter-type}-#{$value}: #{ 1rem - $gutter };
				  }
			  }
			  @elseif (type-of($gutters) == 'number') {
				$gutter: rem-calc($gutters) / 2;

				// Loop through each gutter position
				@each $value in $gutter-position {
					#{$gutter-type}-#{$value}: #{ 1rem - $gutter };
				}
			  }
			
		}
	}
}

.interstitial {
	
	@include breakpoint( small only ) {
		margin: 0 1rem;
	}
	
	position: relative; // Ensures we overlay on top of the Hero
		
	background: $quaternary-color;
	border-left: $quinary-color solid 1rem;

	padding: rem-calc(30);
	
	@include image-box-shadow();

	// Sets a baseline color for elements which can be overridden with inline styles
	*:not(.button) {
		@include light-or-dark-text( $quaternary-color );
	}
	
	.gform_wrapper {
		
		.gfield_required {
			color: $tertiary-color;
		}
		
		[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
			
			background: lighten(desaturate(#0085cf, 57.53), 30.78);
			@include light-or-dark-text( lighten(desaturate(#0085cf, 57.53), 30.78) );
			
		}
		
	}
	
	.give-btn, .woocommerce a.button, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button, .woocommerce input.button.alt, input[type="submit"], #site-content .tribe-events-button, #site-content #tribe-events .tribe-events-button, .tribe_community_edit #site-content .tribe-button, .tribe_community_list #site-content .tribe-button {

	  @extend .white.button;

	}
	
}