.circle-mask {
	
	clip-path: circle(50% at 50% 50%);
	
}

.half-circle-left {
	
	clip-path: url(#half-circle-left);
	
}

.half-circle-right {
	
	clip-path: url(#half-circle-right);
	
}

.image-on-right {

	.image {

		@extend .half-circle-left;

	}

}

.image-on-left {

	.image {

		@extend .half-circle-right;

	}

}

@include breakpoint( small only ) {
	
	.half-circle-right, .half-circle-left {
		clip-path: url(#half-circle-bottom);
	}

}

.half-circle-top {
	
	clip-path: url(#half-circle-top);
	
}

.half-circle-bottom {
	
	clip-path: url(#half-circle-bottom);
	
}

.half-circle-top-and-bottom {
	
	clip-path: url(#half-circle-top-and-bottom-mobile);
	
	@include breakpoint( medium ) {
	
		clip-path: url(#half-circle-top-and-bottom);
		
	}
	
}

.circle-button-container {
	
	@include circle-button( $quaternary-color, 16rem, 0.6 );
	
}