.video-popover-container {

	&:hover {
		cursor: pointer;
	}

	& > * {

		pointer-events: none;
		width: 100%;

	}
	
	@include breakpoint( small only ) {
		
		iframe {
			height: 30rem !important;
			width: 100% !important;
		}
		
	}

}

@include breakpoint( small only ) {
	
	.reveal.video-popover {

		height: auto;
		min-height: 0;

	}
	
}