.error404 {

	.search-toggle.menu-item {

		line-height: 2.5;

	}
	
	button {
		
		padding: $menu-items-padding;
		
		&:hover {
			cursor: pointer;
		}
		
	}
	
	#menu-404-menu {
		
		background: #fff;
		border-radius:  0.25rem;
		
		a {
			
			color: $anchor-color;
			
			&:hover, &:focus {
				
				color: $anchor-color-hover;
				
			}
			
		}
		
		button {
			
			svg path {
				
				fill: $anchor-color;
				
			}
			
			&:hover, &:focus {
				
				svg path {
				
					fill: $anchor-color-hover;align-content: center
						
				}
				
			}
			
		}
		
	}
	
}