.home {
	
	.featured-hero {

		.marketing {

			.tagline {

				top: 10%;
				transform: translateY(-10%);
				
				* {
					
					text-shadow: 4px 4px 6px rgba(0,0,0,0.50);
					
					@include breakpoint( small only ) {
						
						font-size: 16px !important;
						
					}
					
				}

			}

			@include breakpoint(small only) {

				.tagline {
					margin-top: -1rem;
				}

			}
			
			// This targets mainly small, older phones like the iPhone 5 in Landscape
			@media only screen and #{breakpoint( small only )} and #{breakpoint( landscape )} {
				
				.tagline {
					margin-top: -0.5rem;
				}
				
			}

		}
		
		.image {
			
			@media only screen and #{breakpoint( small only )} and #{breakpoint( landscape )} {
			
				background-position: 50% 50%;
				
			}
			
		}

	}
	
	.swirl-border {
		margin-bottom: 3rem;
	}
	
	#interstitial {
		
		.row {
			
			margin-bottom: 2rem;
			
			&:last-of-type {
				margin-bottom: 0;
			}
			
			@include breakpoint( small only ) {
			
				.columns {

					&:first-of-type {
						margin-bottom: 2rem;
					}

				}
				
			}
			
		}
		
		.image-on-left, .image-on-right {
			position: relative;
		}
		
		.circle-button-container {
			
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			
		}
		
		.image-on-left {
			
			.circle-button-container {
				
				left: 40%;
				transform: translate(-40%,-50%);
				
			}
			
		}
		
		.image-on-right {
			
			.circle-button-container {
				
				//left: 60%;
				//transform: translate(-60%,-50%);
				
			}
			
		}
		
	}
	
	#call-to-action {
		
		.image-container {
			
			position: relative;
			min-height: 25rem;
			
			.image {
			
				@extend .half-circle-right;
				
				@include breakpoint( medium only ) {
					clip-path: url(#half-circle-bottom); // in this case, we want this on Medium too
				}

				background-position: 0% 80%;
				background-repeat: no-repeat;
				background-size: cover;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;

				@include breakpoint(medium) {
					background-position: 0% 0%;
				}
				
			}
			
			@include breakpoint( small only ) {
			
				margin-bottom: 2rem;
				
			}
			
		}
		
		.text-container {
			
			@include breakpoint(medium) {
				padding: rem-calc(60) rem-calc(30);
			}
			
		}
		
	}
	
	#video {
		
		h2 {
			margin-bottom: 3rem;
		}
		
	}
	
	#locations {
		
		.facility {
			
			position: relative;
			min-height: 19rem;
			
			@include image-box-shadow();
			
			@include breakpoint( medium ) {
				min-height: 31rem;
			}
			
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			
			a {
				
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				
				color: #fff;
				
				.color-overlay {
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					@include background-opacity( #000, 0.3 );
				}
				
				&:hover {
					
					//color: scale-color(#fff, $lightness: -15%);
					
					.color-overlay{
						@include background-opacity( #000, 0.5 );
					}
					
				}
				
				h2 {
					
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					
					color: inherit;
					text-transform: uppercase;
					
					width: 100%;
					text-align: center;
					
				}
				
			}
			
		}
		
	}
	
	#news {
		
		.post {
			
			margin-bottom: 2rem;
			
			&:last-of-type {
				margin-bottom: 0;
			}
			
			@include breakpoint( small only ) {
			
				.columns {

					&:first-of-type {
						margin-bottom: 2rem;
					}

				}
				
			}
			
		}
		
		.button {
			text-transform: uppercase;
		}
		
	}

}