.home {
	
	.front-hero {

		.marketing {

			height: 100%;

			@include breakpoint(medium) {
				//margin-top: rem-calc(-300%);
			}

			& > * {
				position: relative;
			}

			.tagline {

				top: 10%;
				transform: translateY(-10%);
				
				* {
					text-shadow: 4px 4px 6px rgba(0,0,0,0.50);
				}

			}

			@include breakpoint(small only) {

				.tagline {
					margin-top: 2rem;
				}

			}

		}

		.image {
			position: absolute;
			
			@include breakpoint( small only ) {
				clip-path: url(#hero-clip-mobile);
			}

			@include breakpoint( medium ) {
				clip-path: url(#hero-clip);
			}

			.color-overlay {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				//background-color: rgba( 240, 240, 240, 0.86 );
				//@include create-gradient( 'vertical', $primary-color, transparent );
			}
			
			//background-position: 50% 80%;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;

			@include breakpoint(medium) {
				//background-position: 50% 0%;
			}

		}

	}
	
	#interstitial {
		
		.row {
			
			margin-bottom: 2rem;
			
			&:last-of-type {
				margin-bottom: 0;
			}
			
			@include breakpoint( small only ) {
			
				.columns {

					&:first-of-type {
						margin-bottom: 2rem;
					}

				}
				
			}
			
		}
		
		.image-on-left, .image-on-right {
			position: relative;
		}
		
		.circle-button-container {
			
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			
		}
		
		.image-on-left {
			
			.circle-button-container {
				
				left: 40%;
				transform: translate(-40%,-50%);
				
			}
			
		}
		
		.image-on-right {
			
			.circle-button-container {
				
				//left: 60%;
				//transform: translate(-60%,-50%);
				
			}
			
		}
		
	}
	
	#call-to-action {
		
		.image-container {
			
			position: relative;
			min-height: 25rem;
			
			.image {
			
				@extend .half-circle-right;

				background-position: 0% 80%;
				background-repeat: no-repeat;
				background-size: cover;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;

				@include breakpoint(medium) {
					background-position: 0% 0%;
				}
				
			}
			
			@include breakpoint( small only ) {
			
				margin-bottom: 2rem;
				
			}
			
		}
		
		.text-container {
			
			@include breakpoint(medium) {
				padding: rem-calc(60) rem-calc(30);
			}
			
		}
		
	}
	
	#locations {
		
		.facility {
			
			position: relative;
			min-height: 19rem;
			
			@include breakpoint( medium ) {
				min-height: 31rem;
			}
			
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			
			a {
				
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				
				color: #fff;
				
				.color-overlay {
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					@include background-opacity( #000, 0.3 );
				}
				
				&:hover {
					
					//color: scale-color(#fff, $lightness: -15%);
					
					.color-overlay{
						@include background-opacity( #000, 0.5 );
					}
					
				}
				
				h2 {
					
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					
					color: inherit;
					
					width: 100%;
					text-align: center;
					
				}
				
			}
			
		}
		
	}
	
	#news {
		
		.post {
			
			margin-bottom: 2rem;
			
			&:last-of-type {
				margin-bottom: 0;
			}
			
			@include breakpoint( small only ) {
			
				.columns {

					&:first-of-type {
						margin-bottom: 2rem;
					}

				}
				
			}
			
		}
		
		.button {
			text-transform: uppercase;
		}
		
	}

}