.page-template-landing-page {

    @media #{$ipad-portrait} {

        .top-bar.show-for-small-only {
            display: block !important;
        }

    }

    .top-bar-right.phone {

        @include breakpoint( small only ) {

            float: none;
            width: 100%;

        }

        @media #{$ipad-portrait} {

            float: none;
            width: 100%;
            text-align: center;

            div {
                &:before {
                    content: none;
                }
            }

        }

    }

    // Make the Nav always look like the shrunk one. This includes all but the color changes
    .sticky-top-bar {

        .svg-container {
            margin-top: .1rem;
            margin-bottom: -.1rem;
        }

        @media only screen and (max-width: #{( map-get( $breakpoints, 'large' ) - 1 )}) {

            .svg-container {

                &.small-version {
                    display: inline-block;
                }

            }

        }

        @include breakpoint( large ) {

            .top-bar-title {
				margin-top: -1rem;
				margin-bottom: .75rem;
            }
            
            .svg-container {

                margin-top: -.5rem;
                margin-bottom: -.75rem;

				svg {

					width: 50%;
					height: auto;

				}

			}

        }

    }

    @media #{$ipad-portrait} {

        .hide-for-small-only.menu-item {

            display: none !important;

        }

    }
    
    .swirl-border {
		margin-bottom: 3rem;
	}

    .featured-hero {

        height: 150vh;

        @include breakpoint( medium ) {
            height: 200vh;
        }

        @include iphone-five-portrait() {
            height: 200vh;
        }

        @include iphone-five-landscape() {
            height: 325vh;
        }

        @include iphone-six-seven-eight-portrait() {
            height: 175vh;
        }

        @include iphone-six-seven-eight-landscape() {
            height: 225vh;
        }

        @include ipad-portrait() {
            height: 95vh;
        }

        @include breakpoint( large ) {
            height: 116vh;
        }

        @include breakpoint( teneighty ) {
            height: 118vh;
        }

        @include breakpoint( fourk ) {
            height: 121vh;
        }

        .gform_wrapper {

            label, .gform_title, .gfield_required {
                color: #fff;
            }

            *:not(label):not(.gform_title):not(.gfield_required) {
                text-shadow: none;
            }

            .gform_heading {

                margin-bottom: .5rem;

            }

            ul li.gfield {

                margin-top: .25rem;

                label {
                    font-size: .85rem;
                }

                .ginput_container {

                    margin-top: .25rem;

                    label {
                        margin-bottom: .25rem;
                    }

                }

                select, input, textarea {
                    margin-bottom: .25rem;
                }

            }

            .gform_footer {
                margin-top: 0;
            }

        }

    }

    .title-hero .marketing .tagline .row .columns *:first-child {
        margin-top: 0;
    }

    &.interstitial-disabled {

        section:first-child {

            margin-top: 3rem;

        }

    }

    #interstitial {

        .text {

            @include breakpoint( medium ) {

                position: relative;
                top: 50%;
                transform: translateY(-50%);

            }

        }

    }

    #call-to-action {
	
        .image-container {

            .image {
                @extend .half-circle-right;
            }

            &.even {

                .image {
                    @extend .half-circle-left;
                }

            }
            
        }

        .text-container {
		
            @include breakpoint(medium) {
                padding: rem-calc(60) rem-calc(30);
            }
            
        }
        
    }

    #video {
		
		h2 {
			margin-bottom: 3rem;
		}
		
	}

}