.page-template-landing-page {

    // Make the Nav always look like the shrunk one. This includes all but the color changes
    .sticky-top-bar {

        .svg-container {
            margin-top: .1rem;
            margin-bottom: -.1rem;
        }

        @media only screen and (max-width: #{( map-get( $breakpoints, 'large' ) - 1 )}) {

            .svg-container {

                &.small-version {
                    display: inline-block;
                }

            }

        }

        @include breakpoint( large ) {

            .top-bar-title {
				margin-top: -1.5rem;
				margin-bottom: -1.5rem;
            }
            
            .svg-container {

				svg {

					width: 50%;
					height: auto;

				}

			}

        }

    }
    
    .swirl-border {
		margin-bottom: 3rem;
	}

    .featured-hero {

        height: 170vh;

        @include breakpoint( medium ) {
            height: 270vh;
        }

        @media #{$ipad-portrait} {
            height: 120vh;
        }

        @include breakpoint( large ) {
            height: 150vh;
        }

        .gform_wrapper {

            label, .gform_title, .gfield_required {
                color: #fff;
            }

            *:not(label):not(.gform_title):not(.gfield_required) {
                text-shadow: none;
            }

            .gform_heading {

                margin-bottom: .5rem;

            }

            ul li.gfield {

                margin-top: .25rem;

                label {
                    font-size: .85rem;
	                line-height: .8;
                }

                .ginput_container {

                    margin-top: .25rem;

                    label {
                        margin-bottom: .25rem;
                    }

                }

                select, input, textarea {
                    margin-bottom: .25rem;
                }

            }

            .gform_footer {
                margin-top: 0;
            }

        }

    }

    .title-hero .marketing .tagline .row .columns *:first-child {
        margin-top: 0;
    }

    &.interstitial-disabled {

        section:first-child {

            margin-top: 3rem;

        }

    }

    #call-to-action {
	
        .image-container {

            .image {
                @extend .half-circle-right;
            }

            &.even {

                .image {
                    @extend .half-circle-left;
                }

            }
            
        }

        .text-container {
		
            @include breakpoint(medium) {
                padding: rem-calc(60) rem-calc(30);
            }
            
        }
        
    }

    #video {
		
		h2 {
			margin-bottom: 3rem;
		}
		
	}

}