.single {
	
	&.has-post-thumbnail {
	
		.interstitial {

			@include breakpoint( medium ) {
				margin-top: -6rem;
			}

		}
		
	}

	&:not(.has-post-thumbnail) {

		.swirl-border {

			& > .post {

				padding-top: 6rem;

			}

		}

	}
	
	article {
	
		.narrow-title, .entry-content.row, footer {

			max-width: $global-width * (2/3);

		}
		
	}
	
	.navigation-container, .related-posts, #respond, #comments {
		
		max-width: $global-width * (2/3);

	}
	
	section {
		
		&:last-of-type {
			
			padding-bottom: 3rem;
			
		}
		
	}
	
}