body.single-staff {

    .main-content {

        padding-top: 6rem;

<<<<<<< HEAD
        .image-container {
            img {
                width: 100%;
                height: auto;
            }
        }

        .content {

            margin-top: 1rem;

        }

=======
>>>>>>> develop
    }

}