section {
		
	&:last-of-type {
		margin-bottom: 0;
	}
	
}

.swirl-border {
	margin-bottom: 3rem;
}

#interstitial {
	
	@include breakpoint( medium ) {
		margin-bottom: 0;
	}
	
	// This targets mainly small, older phones like the iPhone 5 in Landscape
	@media only screen and #{breakpoint( small only )} and #{breakpoint( landscape )} {

		.medium-3 {
			width: ( ( 3/12 ) * 100 ) + 0%;
		}

		.medium-9 {
			width: ( ( 9/12 ) * 100 ) + 0%;
		}

	}
	
}

#after-interstitial {
	
	max-width: $global-width * ( 5/6 );
	
	.columns {
		position: relative;
	}
	
	.circle-button-container {
		
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		
	}
	
	@include breakpoint( small only ) {
		
		.columns {
			margin-bottom: 1rem;
		}
		
		img {
			clip-path: url('#half-circle-bottom');
		}
		
	}
	
}

#call-to-action {
	
	.image-container {

		margin-bottom: 0;
		
		position: relative;
		min-height: 25rem;
		
		.image {
		
			@extend .half-circle-right;

			background-position: 0% 80%;
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;

			@include breakpoint(medium) {
				background-position: 0% 0%;
			}
			
		}
		
		@include breakpoint( small only ) {
		
			margin-bottom: 2rem;
			
		}
		
	}

	#location-staff {
		
		.image-container {
			
			position: relative;
			min-height: 25rem;
			
			.image {
			
				@extend .half-circle-left;

				background-position: 0% 80%;
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;

				@include breakpoint(medium) {
					background-position: 50% 50%;
				}
				
			}
			
			@include breakpoint( small only ) {
			
				margin-bottom: 2rem;
				
			}
			
		}
		
		.text-container {
			
			@include breakpoint(medium) {
				padding: rem-calc(60) rem-calc(30);
			}
			
		}
		
	}

	#map {

		#map_canvas {
			height: rem-calc( 400 );
		}

		// InfoWindow
		.gm-style-iw, .gm-style-iw-d {
			max-height: none !important;
		}

	}
	
	.text-container {
		
		@include breakpoint(medium) {
			padding: rem-calc(60) rem-calc(30);
		}
		
	}
	
}

#video {
	
	h2 {
		margin-bottom: 3rem;
	}
	
}

section {
	
	&:last-of-type {
		
		padding-bottom: 0;
		
	}
	
}