.footer-container {
	margin: 0 auto;
	background-color: $primary-color;
}

.footer-top {
	
	position: relative;
	
	@include breakpoint( medium ) {
		overflow: hidden;
	}
	
	font-family: $header-font-family;
	
	@include image-box-shadow();

	section {
		@include xy-cell(auto);
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	@include breakpoint( small only ) {
		
		.flourishes {
			position: absolute;
			bottom: 0;
		}
		
	}
	
	.flourish {
		
		position: relative;
		height: 366px; // Height of the SVG. This was the height of the version used in the mock.
		
		svg {
			
			height: 366px;
			width: auto;
		
			position: absolute;
			bottom: 0;
			top: 1rem;
			right: auto;
			left: auto;
			
			path {
				opacity: 0.217466518; // Oddly specific
			}
			
		}
		
		&.flourish-left {
			
			svg {
				
				transform: scaleX( -1 );
				left: 1rem;
				
			}
			
		}
		
		&.flourish-right {
			
			svg {
				
				right: 1rem;
				
			}
			
		}
		
	}
	
	& > .content {
		
		@include breakpoint( medium ) {
			position: absolute;
		}
		
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		
		padding: rem-calc(30);
		
		@include breakpoint(medium) {
			padding: rem-calc(60) 0;
		}
		
	}
	
	svg {

		path {
			fill: #fff;
		}

	}
	
	.footer-contact {
		
		svg {
			margin-bottom: 1rem;
		}
		
	}

	@include light-or-dark-text( $primary-color );

	.widget-title {
		@include light-or-dark-text( $primary-color );
	}

	.gform_title, .gfield_label, label, .gfield_description, .ginput_counter, .gform_wrapper .gfield_required {
		@include light-or-dark-text( $primary-color );
	}

	input[type="submit"] {

		display: block !important;
		width: 100% !important;

		@include button( false, $secondary-color, scale-color( $secondary-color, $lightness: -15% ), 'auto', 'solid' );

		border-width: 0.25em;
		border-color: $secondary-color;

		@include foundation-button-fix( $secondary-color );

		&:hover, &:focus {

			background: #fff;
			color: $secondary-color;
			border-width: 0.25em;

		}

	}

	a {

		color: $white;
		font-weight: 800;

		&:hover {
			color: scale-color( $secondary-color, $lightness: 15% );
		}

	}

	.footer-menu {

		.menu {
			
			@extend .vertical;

			list-style: none;
			margin-bottom: 0;

			a {

				color: $white;
				white-space: normal;

				&:hover {
					color: scale-color( $secondary-color, $lightness: 15% );
				}

			}

		}

	}

	

}

.footer-bottom {
	
	background: #fff;
	padding: rem-calc(15) 0;
	font-family: $header-font-family;
	
	.copyright {

		@include light-or-dark-text( #fff );

		.svg-container {
			svg {
				fill: #000;
			}
		}

		.text {
			position: relative;
		}

	}
	
}