// Navigation breakpoints
.mobile-menu,
.site-title-bar {
	@include hide-for(large);
}

.desktop-menu,
.site-navigation .top-bar-left {
	@include show-for(large);
}

// Site title
.site-desktop-title a {
	font-weight: bold;
}

// Mobile menu
.mobile-menu {
	display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
	> ul.menu {
		
		height: 100vh;
		
		.nested {
			margin-left: 0;
		}

		a {
			color: $white;
			font-weight: 600;
			font-size: rem-calc(15);
		}
	}

	.menu .active > a { background-color: #ccc; }

}

.title-bar-title {
	a {
		font-size: 1rem;
		color: #B9B9B9;
	}
}

.mobile-menu,
.mobile-off-canvas-menu, .dropdown.desktop-menu {

	.current-menu-item, .current-menu-ancestor {
		& > a {
			box-shadow: rem-calc(4) rem-calc(4) rem-calc(4) rgba(#000, 0.5);
			background-color: lighten($quinary-color, 5%);
			@include light-or-dark-text( lighten($quinary-color, 5%) );
		}
	}
}

// Tablet and desktop menu

.sticky-top-bar {
	background-color: #fff;

	&, * {
		transition: ease all 300ms;
	}

}

.is-stuck.sticky-top-bar {

	.hide-on-scroll {
		display: none;
	}
	
	.svg-container {
		margin-top: .1rem;
		margin-bottom: -.1rem;
	}

}

.top-bar {

	.top-bar-title a {
		font-size: 1rem;
		color: #B9B9B9;
		padding-left: 1rem;
		line-height: 1.8;
	}

	.circle-backdrop {

		display: none;
		transition: unset;
		position: absolute;
		top: rem-calc( -7 );
		left: rem-calc( -128 );
		right: auto;
		bottom: 0;
		background: #fff;
		width: rem-calc( 300 );
		height: rem-calc( 75 );
		border-radius: 300px / 250px;
		
		@include breakpoint( fourk ) {
			
			top: rem-calc( -14.4 );
			left: rem-calc( -192 );
			
		}
		
	}

	.svg-container {
		position: relative;
	}

	.menu a {

		color: $dark-color;

		&:hover, &:focus {
			@include light-or-dark-text( $quaternary-color );
		}

		padding-top: 0;
		padding-bottom: 0;
		font-weight: bold;
		line-height: 1;
		border-radius: 0.25rem;

		&:hover:not(.button), &:focus:not(.button) {
			
			box-shadow: rem-calc(4) rem-calc(4) rem-calc(4) rgba(#000, 0.5);
			background-color: $quaternary-color;
			
		}
		
	}

	.menu>li:not(.menu-text)>a { padding: 1rem; }

	.dropdown.menu .submenu { border: 0; }
	.dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
	.dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
	.dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after { display: none; }
}

.site-navigation {
	@media only screen and (max-width: #{( map-get( $breakpoints, 'large' ) - 1 )}) {
		padding: 0; // prevents container visibility on small screens
	}
}

// WP post navigation
.post-navigation {
	@include clearfix;
}

.nav-previous {
	float:left;
}

.nav-next {
	float:right;
}

.svg-container.small-version {
	display: none;
}

.sticky-top-bar {

	.circle-backdrop-clip {

		position: relative;
		overflow: hidden;
		
	}
	
	.circle-backdrop-clip, .top-bar-right {

		@include breakpoint( large ) {

			padding: 0 0.5625rem;

		}

		// Phablet Landscape and Portrait iPad Fix
		@media #{$phablet-landscape}, #{$ipad-portrait} {

			padding: 0 $topbar-padding / 4;

		}
	
	}

}

@media only screen and (max-width: #{( map-get( $breakpoints, 'large' ) - 1 )}) {

	.title-bar {

		padding: 0;
		
		.title-bar-title {
			display: inline-block;
		}
		
		.svg-container {
			
			width: 80%;
			height: auto;

			svg {
				width: 50%;
				height: auto;
				margin-top: 0.5rem;
				margin-left: 0.5rem;
			}
			
		}

		.menu-icon {
			
			&:before {
				content: '';
				position: absolute;
				top: -1.25rem;
				right: auto;
				bottom: auto;
				left: -0.9rem;
				height: rem-calc( 35 );
				width: rem-calc( 35 );
				border-radius: 50%;
				background: $quaternary-color;
			}
			
			&:after {
				top: -0.6rem;
				left: -0.4rem;
			}
			
			margin-top: 1.8rem;
			margin-right: 0.5rem;
			
		}

	}

	.is-stuck.sticky-top-bar {

		.title-bar-title {
			//margin-top: 2.25rem;
		}

		.svg-container {

			//display: none;

			&.small-version {
				display: inline-block;
			}

		}

	}

}

@include breakpoint(large) {

	.sticky-top-bar {

		.top-bar-title {
			margin-top: -1rem;
			margin-bottom: .75rem;
		}

		.svg-container {

			margin-top: -.5rem;
            margin-bottom: -1rem;

			svg {

				width: 70%;
				height: auto;

			}

		}

		&.is-stuck {
			
			background-color: $primary-color;

			.circle-backdrop {
				display: block;
			}

			.top-bar-title {
				margin-top: -1.5rem;
				margin-bottom: -1.5rem;
			}

			.menu {

				a {
					color: #fff;
				}

			}

			.top-bar-title {
				margin-top: 1rem;
				margin-bottom: -1.4rem;
			}
			
			.svg-container {
	
				margin-top: -2.25rem;
				margin-bottom: 1.25rem;

				svg {

					width: 50%;
					height: auto;

				}
	
			}

		}

	}

}