body {
    
    background-color: darken( $quaternary-color, 15% );
    
}

.off-canvas-content {
	position: relative;
	
    box-shadow: none;
    // For something that has to wrap your Site Content, this is a really silly default...
    
}

body.offcanvas {
	
	transition: 300ms ease all;
	
}

.off-canvas {
	
	* {
	
		transition: all 750ms cubic-bezier(0.32,1.25,0.375,1.15);
		transform: translateX(100%);
		transform: translate3d(100%, 0, 0);
		
	}
	
	&.is-open {
		
		* {
		
			transform: translateX(0%);
			transform: translate3d(0%, 0, 0);
			
		}
		
	}

    > .menu {
        
        .fa {
            margin-top: -0.2em;
        }

        > li {

            background-color: $primary-color; /* Top Level */
            
            a {
                color: #fff !important;
            }

            ul {
                li {
                    background-color: darken( $primary-color, 5% );
                    padding-left: 1.25rem;
                }
            }

        }

    }

}