aside.sidebar {
	
	.widget {
		
		& > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
			
			border-bottom: rem-calc( 4 ) solid $quaternary-color;
			
		}
		
	}

	.menu {

		@include menu-direction( vertical );

		.sub-menu {
			@extend .menu;

			li > a {
				padding-left: $list-side-margin;
			}

		}

		.current-menu-ancestor > a {

			@include menu-state-active;

		}

		.is-active {

			background-color: $menu-item-background-active;
			
		}

	}
	
}