@font-face {
	font-family: 'remachinescript';
	src: url('../fonts/RemachineScript/RemachineScript.eot');
	src: url('../fonts/RemachineScript/RemachineScript.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RemachineScript/RemachineScript.woff') format('woff'),
		url('../fonts/RemachineScript/RemachineScript.ttf') format('truetype'),
		url('../fonts/RemachineScript/RemachineScript.svg#remachinescript') format('svg');
	font-weight: normal;
	font-style: normal;
}

.remachinescript {
	font-family: 'remachinescript';
	font-size: 200%;
	font-weight: 200;
	line-height: 0.8;
}